body
{
	margin:0;
	padding:0;
	border:0;
	width:100%;
	background:#f5f5f5;
	color:#666666;
}

a, b, body, div, h2, h3, h4, h5, h6, i, li, td, table, th, tr, u, ul
{
	font-size:9pt;
	font-family:tahoma,helvetica,arial; 
}

code
{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-o-pre-wrap;
	display:block;
	padding:5px;
	border:1px solid #cccccc;
	background:#ffffe1;
}

code, pre
{
	font-size:9pt;
}

a
{
	color:#007000;
}

h1, h2, h3, h4, h5
{
	color:#333333;
}

h1
{
	font-size:200%;
}

img
{
	border:0;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

.comment
{
	color:red;
}

.page
{
	background:#ffffff;
	padding: 2em 10em;
}

.header
{
	display:block;
	padding:5px 10px;
	border-bottom:1px solid #dddddd;
}

.footer
{
	border-top:1px solid #dddddd;
	display:block;
	padding:5px 10px;
	width:100%;
	display:inline-block;
	text-align:right;
	float:right;
}

.right
{
	display:inline-block;
	text-align:right;
	float:right;
}

.shadow
{
	box-shadow: 2px 2px 10px 2px #aaaaaa;
	margin-bottom:10px;
}

.topnav
{
	padding:0px 10px;
}
